.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  max-width: 600px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}
