.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button {
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms;
  margin: 0 auto;
}

.button:hover {
  background-color: #057ed4;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: #057ed4;
}

.user {
  font-size: 16px;
  font-weight: bold;
}